#root-container {
    display: flex;
    flex-direction: column;
}

#root-container > * {
    min-width: 80%;
    align-self: center;
}

#transaction-history-container {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.25fr 0.1fr;
}

.header {
    display: contents;
}

.header span {
    padding: 10px;
    font-weight: bold;
    background-color: #f0f0f0;
}

transaction-history-row:hover + .trash-icon-container > .trash-icon,
.trash-icon-container:hover > .trash-icon,
.trash-icon:hover{
    opacity: 1;
}

.trash-icon-container {
    display: flex;
    justify-content: end;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.trash-icon {
    opacity: 0;
    cursor: pointer;
}