<div id="root-container">
  <h2 id="title">Transaction history</h2>
  @if (transactionHistory$ | async;as transactionHistory) {
    @if (transactionHistory.length > 0) {
      <div id="transaction-history-container">
        <div class="header">
          <span>Name</span>
          <span>Amount</span>
          <span>Category</span>
          <span>Date</span>
          <span></span>
        </div>
        @for (transaction of transactionHistory; track $index) {
          <transaction-history-row [transaction]="transaction"></transaction-history-row>
          <div class="trash-icon-container">
            <span class="trash-icon" (click)="deleteTransaction(transaction.id)">🗑️</span>
          </div>
        }
      </div>
    }
    @else {
      <p>No transaction history found</p>
    }
  }
  @else {
    <p>Loading...</p>
  }
</div>
