<form (ngSubmit)="onFormSubmit()" [formGroup]="transactionForm">
  <h2 id="category-selection">Add a new entry!</h2>
  <input type="text" placeholder="Name" formControlName="name">
  <input type="number" placeholder="Amount" step="0.01" formControlName="amount">
  <input list="categories" placeholder="Category" formControlName="category">
  <datalist id="categories">
    @for (category of transactionCategories; track $index) {
      <option>{{category}}</option>
    }
  </datalist>
  <input type="date" formControlName="date">
  <button type="submit" [disabled]="transactionForm.invalid">Add</button>
</form>