/* .transaction-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #eee;
} */

:host {
    display: contents;
}

div {
    padding: 10px;
    border-bottom: 1px solid #eee;
}